<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://unpkg.com/htmx.org@1.9.11"
            integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0"
            crossorigin="anonymous"></script>
    <script src="htmx.js"></script>
    <link rel="stylesheet" href="css/index.css">

</head>
<body>

<form hx-swap="outerhtml" hx-post="/link" style="flex-direction: column">
    URL to shorten <input type="text" name="url" autofocus {{#url}}value="{{url}}" {{/url}}/>
    {{#error}}
        <div style="color: red">{{error}}</div>
    {{/error}}
    <button type="submit">Create short link</button>
</form>

{{#shortLink}}
    <div class="shortened-link">
    Shortened Link <a href="{{shortLink}}">{{shortLink}}</a>
    <!-- Add copy to clipboard button -->
    </div>
{{/shortLink}}

<script>
</script>
</body>
</html>
